.el-dialog {
  .el-dialog__header {
    // background-color: $neutral-color-1;
    background-color: #567dff;
    padding: 15px;
    margin-right: 0px;
  }
  .el-dialog__headerbtn:focus,
  .el-dialog__headerbtn:hover {
    .el-dialog__close,
    .el-dialog__close {
      color: #e0e0e0;
    }
  }
  .el-dialog__headerbtn{
    .el-dialog__close{
      color: #e0e0e0;
      font-size: 20px;
    }
  }
  padding: 0px  !important;
}

.el-dialog__title {
  color: #ffffff !important;
  // color: black !important;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #3a68f2;
  background: #3a68f2;
}

// .el-tabs__item.is-active {
//   color: #3a68f2;
// }

// .el-tabs__active-bar {
//   background-color: #3a68f2;
// }
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background-color: #3a68f2;
  border-color: #3a68f2;
  -webkit-box-shadow: -1px 0 0 0 #3a68f2;
  box-shadow: -1px 0 0 0 #3a68f2;
}
.promissStyle {
  margin-left: 10px;
}
